a { font-weight: bold; font-family: sans-serif;}
body {
    padding-left: 50px;
    padding-right: 50px;
    font: 14px/1.5 Georgia;
    margin: 16px;
    margin-right: 150px;
    color: #606060;
}
div#logo {
    position: fixed; right:20px; top:20px;
}

table.nicetable tr td {
    padding: 4px;
    padding-right: 12px;
}

tr.sep {
  border-top: solid;
  border-width: 1px;
  border-color: #CCCCCC;
}