a { font-weight: bold; font-family: sans-serif;}
body {
    padding-top: 0;
    font: 14px/1.5 Georgia;
    margin: 16px;
    margin-left: 50px;
    margin-right: 50px;
    color: #000000;
}
div#logo { display: none; }

@media screen and (min-width: 750px) {
  body {
    margin-right: 150px;
    max-width: 1000px;
  }
  div#logo {
    position: fixed; right:20px; top:20px;
    display: block;
  }
}


table.nicetable tr td {
    padding: 4px;
    padding-right: 12px;
}

tr.sep {
  border-top: solid;
  border-width: 1px;
  border-color: #CCCCCC;
}

.center { text-align: center}
.mycap {font-style: italic; font-weight: 500;}
.icap {font-style: italic; font-weight: 500; margin-left: 48px;}

th { padding-right: 16px; }

table.dataframe tr td {
  padding: 4px;
  padding-right: 12px;
  text-align: right;
}

.dropdown {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border: none;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

.dropdown p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 6px;
  z-index: 1;
}

.dropdown-content a {
padding: 2px 6px;
text-decoration: none;
display: block;
font-size: 10px;
}
.dropdown-content a:hover{
  background-color: #f1f1f1;
}

.dropdown-content ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: opacity .35s, visibility .35s, height .35s;
}

img#hamburger {width: 20px;}
img#master { width: 20px; padding-right: 6px; margin-right: 6px;}